{% extends 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock title %}

{% block body %}

<h1 class="register-title">Register Here</h1>
<form class="register-form" action="/register" method="POST">
    <label for="user_name">Username</label>
    <input type="text" id="user_name" name="user_name" placeholder="Enter your username" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="example@gmail.com">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Re-enter your password">
    <input type="submit" value="Register">
</form>
{% endblock body %}